#DK_Payment{
    width:60%;
    height:auto;
    border:1px solid black;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
#DK_paytmtext, #DK_creditimg>div>i{
    font-size: 25px;
    padding-left: 30px ;
    padding-top: 10px;   
}
#DK_Payment>hr{
    width:92%;
    margin: auto;
    margin-top: 10px;
}
#DK_paytmtext{
    font-weight: 600;
}
#DK_creditimg{
    display: flex;
}
#DK_creditimg>#DK_text{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
#DK_credit{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#DK_creditarrow>#DK_lowerarrow,#DK_creditarrow>#DK_upperarrow{
    padding-top: 10px;
    padding-right: 50px;
}
#DK_creditarrow>#DK_upperarrow{
    display: none;
}

#DK_cardNumber,#DK_name{
    margin-left: 30px;
    
}
#DK_cardNumber,#DK_name,#DK_select,#DK_year, #DK_ccv,#DK_btn{
    height:25px;
    border:2px solid black;
    border-radius: 5px;
}
#DK_ccv{
    width:50px;
    margin:15px;
}
#DK_select{
    margin:15px; 
}
#DK_first{
    display: none;
}
#DK_btn{
    background-color: #fe5c74;
    border:2px solid #fe5c74;
    color: white;
    height:30px;
    width:100px;
    border-radius: 5px;
}