#DK_teamfirst{
    height:40px;
    width:30%;
    /* border:1px solid black; */
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
#DK_teamfirst>p{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    color: #f67;
}
#DK_teamsec{
    height:60px;
    width:60%;
    /* border:1px solid black; */
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 17px;
    margin-bottom: 25px;
}
.DK_dimple{
    height:200px;
    width:70%;
    border:1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 20px;
    margin: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.DK_pic>img{
    height:200px;
    width:200px;
    margin-right: 20px;
}

.DK_COLOR{
    color:#f67;
}

@media screen and (min-width: 300px) and (max-width: 845px){
    #DK_dimple{
        display: block;
        height: 180%;
        width:140%;
        margin-top: 30px;
    }
    #DK_dimplequalifi>p,#DK_teamfirst{
        font-size: 22px;
    }
    #DK_teamfirst{
        text-align: center;
        width:130%;
    }
    #DK_teamsec{
        height:150%;
        width:100%;
    }
    #DK_teamsec{
        width:130%;
        font-size: 22px;
    }
}