body {
  font-family: "Poppins", sans-serif;
}
header {
  box-shadow: -1px 7px 20px -7px #afa2a2;
  padding-block: 10px;
  margin-bottom: 50px;
}
.dr-top-nav {
  display: flex;
  align-items: center;
  width: 80%;
  min-width: 800px;
  align-self: right;
  margin: 10px auto;
  justify-content: right;
  gap: 20%;
}

#dr-left-menu {
  display: none;
}

.dr-nav-search {
  border: 1px solid #ddd;
  padding: 2px 15px;
  border-radius: 50px;
}
.dr-nav-search span {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  cursor: pointer;
}
.dr-nav-search > input {
  border: none;
  background-color: transparent;
  outline: none;
  height: 100%;
}

.dr-dropdown-div img {
  max-width: 100%;
}

.dr-container {
  width: 80%;
  display: flex;
  margin: 20px auto;
}

.dr-container > ul {
  display: flex;
  list-style-type: none;
  position: relative;
  justify-content: space-between;
  /* border: 2px solid black; */
  width: 100%;
  font-size: 17px;
  flex-wrap: wrap;
}
.dr-container > ul > li {
  border-right: 2px solid #fe5c75;
}
.dr-container > ul > li:last-child {
  border: none;
}
.dr-container > ul > li > a {
  text-transform: uppercase;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
  line-height: 22px;
  font-weight: 500;
}

.dr-container > ul > li > a:hover {
  color: #fe5c75;
  transition: all 0.2s ease;
}
.dr-flex {
  display: flex;
}
/* .dr-container > ul > li > ul {
  position: absolute;
} */
a {
  text-decoration: none;
}
.dr-dropdown-div {
  flex-direction: column;
  position: absolute;
  box-shadow: -1px 7px 20px -7px #afa2a2;
  font-size: 14px;
  display: none;
  top: 20;
  left: 0;
  z-index: 1100;
  background-color: white;
}
.dr-dropdown-div a {
  color: #777;
}
.dr-dropdown-div > ul {
  list-style-type: none;
}
.dr-dropdown-div > ul:first-child {
  background-color: #f5f5f5;
}
.dr-dropdown-div > ul:first-child > li {
  padding: 15px;
}
.dr-dropdown-div > ul:first-child > li:hover {
  background-color: white;
  transition: all 0.2s ease;
}
.dr-dropdown-div > ul:first-child > li > a:hover {
  color: #fe5c75;
  transition: all 0.2s ease;
}
.dr-dropdown-div > ul:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
  text-transform: capitalize;
}

.dr-dropdown-div > ul:nth-child(2) > li > a > img:hover {
  opacity: 0.7;
  transition: all 0.4s ease;
}
.findmore {
  padding: 5px 20px;
  border: 1px solid #fe5c75;
  position: absolute;
  border-radius: 4px;
  right: 5px;
  bottom: 5px;
}
.about-us-div {
  position: absolute;
  display: none;
  background-color: white;
  z-index:1000;
}

.about-us-div ul {
  list-style-type: none;
  width: max-content;
  text-transform: capitalize;
}
.about-us-div ul li a {
  color: #777;
  padding: 5px;
  display: inline-block;
}
.about-us-div ul li a:hover {
  color: #fe5c75;
  transition: color 0.2s ease-in;
}

/* On screens that are 768px or less, set the background color to olive */
@media screen and (max-width: 832px) {
  .dr-container > ul {
    display: none;
  }
  .dr-top-nav {
    display: block;
    min-width: 100%;
    text-align: center;
  }
  .dr-nav-search {
    display: flex;
    align-items: center;
  }
  .dr-nav-search > input {
    flex-basis: 95%;
  }
  #dr-left-menu {
    display: block;
    /* border: 2px solid green; */
    padding: 10px;
  }
  .dr-left-menu-div {
    display: none;
  }

  .dr-left-menu-div > ul:first-child {
    list-style-type: none;
    margin-left: 0;
    /* width: 100%; */
  }
  .dr-left-menu-div > ul:first-child > li {
    /* border: 2px solid red; */
    position: relative;
  }

  .dr-left-menu-div > ul:first-child > li > a {
    display: inline-block;
    padding: 10px 15px;
  }
  .dr-left-menu-div > ul:first-child > li > a::after {
    content: ">";
    position: absolute;
    right: 5%;
    font-size: 18px;
  }
  .dr-left-menu-div > ul:first-child > li > a:hover {
    color: #fe5c75;
  }
}

#user-login-icon-div {
  position: absolute;
  display: flex;
  top: 4%;
  right: 3%;
  width: 50px;
  height: 50px;
  border: 2px solid #ddd;
  font-size: 20px;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 9px;
  align-items: center;
  cursor: pointer;
}

#modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
}

#modal {
  width: 500px;
  /* border: 2px solid green; */
  background-color: white;
  display: flex;
  padding: 20px 0;
  border-radius: 4px;
  position: relative;
}

.form-div {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  /* border: 2px solid red; */
  margin: auto;
  gap: 10px;
  flex-basis: 80%;
}

.form-div input {
  padding: 10px 5px 10px;
}
.form-div button {
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #fe5c75;
  font-weight: 600;
  letter-spacing: 1px;
}
.far,.fas{
  color: #fe5c75;
}

.fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#sign-up-form-div {
  display: none;
}

#login-link,
#register-link {
  color: blue;
  cursor: pointer;
}
