body{
    margin: 0%;
    padding: 0%;
}

#DK_teamfirst{
    height:40px;
    width:30%;
    color: #f67;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
#sol{
    position: absolute;
    top: 13%;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
    list-style-type: none;
    font-size: 18px;
}
#sol .sli a {
    text-decoration: none;
    color:  #ff5a78;
    font-weight: lighter;
    font-family: sans-serif;
}

#DK_teamfirst>p{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top:20% ;
}
#DK_teamsec{
    height:60px;
    width:60%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 17px;
    margin-bottom: 25px;
}
.DK_dimple{
    height:200px;
    width:70%;
    border:1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.DK_dimplequalifi{
    padding-top: 20px;
}

#dVnav-container{
    width: 99.9%;
    /* border: 1px solid rgb(228, 38, 101);  */
    background-color: white;
    z-index: 10;
    height: 65px;
    position: fixed;
    top: 0%;
    margin: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    vertical-align: top;
}
.dVaboutLogo{
    cursor: pointer;
    z-index: 9;
    position: relative;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    transition: all .7s;
    width: 25%;
    padding-top: 5px;
}
.DK_pic>img{
    height:200px;
    width:200px;
    margin-right: 20px;
}

.DK_COLOR{
    color:#f67;
}
.dK_lastMargin{
    margin-top: 10%;
}
@media screen and (min-width: 300px) and (max-width: 845px){
    .DK_dimple{
        display: block;
        height: 180%;
        width:140%;
        margin-top: 30px;
    }
    .DK_dimplequalifi>p,#DK_teamfirst{
        font-size: 22px;
    }
    #DK_teamfirst{
        text-align: center;
        width:130%;
    }
    #DK_teamsec{
        height:150%;
        width:100%;
    }
    #DK_teamsec{
        width:130%;
        font-size: 22px;
    }
}